body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 166, 0);
    background-color: rgb(9, 128, 128);
}

header {
    padding: 20px 25px;
    background-color: rgb(9, 128, 128);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999; 
}

header h1 { 
    font-weight: bold;
    font-size: 28px;
    color:  rgb(255, 166, 0);
    margin: 0;
    justify-content: flex-start;
}

header h1 a {
    position: absolute;
    bottom: 45px;
    left: 25px;
    font-size: 40px;
}

header nav ul {
    display: flex;
  flex-wrap: wrap;
  justify-content: end;
  align-items: center;
  list-style: none;
  color: rgb(241, 190, 21);
}

header nav ul li {
    padding: 20px;
}


.hero-pic {
    position: relative;
}
.imgA {
    position: absolute;
    background-size: cover;
    
    
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: flex-start;
    height: 500px;
    width: 100%;
    z-index: 1;
}

.imgB {
    position: relative;
    
    
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    height: 500px;
    z-index: 2;
}

.hero-cta h2 {
    position: absolute;
    bottom: 40px;
    right: 60px;
    color: rgb(209, 39, 96);
    background-color:  rgb(241, 190, 21);
    z-index: 3;
}

.section-title {
    display: flex;
    flex-wrap: wrap;
    
}
.section-title h1 {
    font-size: 25px;
    padding: 20px;
    border-right: 3px rgb(209, 39, 96) solid;
    
}

.section-title p {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    padding-left: 30px;
}

